//=========================================================
//
//		 Navigation Stylesheet
//
//=========================================================
//	Style guide (try to follow)
//	1. Positioning
//	2. Display & Box Model
//	3. Typo
//	4. Visual
//	5. Other
//=========================================================
//---------------------------------------------------------
//			Main menu layout
//---------------------------------------------------------
//
//
//
//
//
//---------------------------------------------------------
.main-menu {
	position: relative;
	top: 0rem;
	left: 0rem;

	min-width: 12rem;

	background-color: $pink;

	@media #{$medium-up} {
		position: fixed;
		top: 1rem;
		left: 1rem;
	}

	@media #{$large-up} {
		position: fixed;
		top: 2rem;
		left: 2rem;
	}


	$nav-padding: .5rem 1.5rem;

	section {
		padding: $nav-padding;

		color: $white;
	}
	ul {
		margin-left: 0;
		margin: 0;

		list-style: none;
	}
	//---------------------------------------------------------
	//			Mobile-menu layout
	//
	//			Contain Hamburger icon
	//---------------------------------------------------------
	.mobile-menu {
		position: absolute;
		float: right;
		right: 1rem;

		padding: 1rem;

		font-size: 1.3rem;
		text-align: right;

		transition: color .2s;

		cursor: pointer;

		@media #{$medium-up} {
			display: none;
		}

		&:hover {
			color: lighten($pink, 25%);
		}


	}
	//---------------------------------------------------------
	//			Title section in nav
	//---------------------------------------------------------
	.title {
		display: inline-block;
		padding: 1rem;

		font-size: 2rem;

		background-color: $pink;

		@media #{$medium-up} {
			display: block;
			padding-top: 1.5rem;
		}


		h1 {
			margin: 0;

			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			font-size: 1.4rem;

			color: $white;
		}

	}

	//---------------------------------------------------------
	//			Link section in nav
	//---------------------------------------------------------
	.links {
		position: fixed;
		left: 50%;
		top: 50%;
		z-index: 5;

		margin: 0 auto;

		text-align: center;

		background-color: transparent;
		opacity: 0;

		transition: opacity .2s;
		transform: translate(-50%, -50%);

		@media #{$medium-up} {
			position: relative;
			left: 0;
			top: 0;

			display: block;
			padding: 0;

			text-align: left;

			background-color: $white;
			opacity: 1;

			transform: none;
		}

		&:after {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 2000px;
			height: 8000px;
			visibility: hidden;

			background-color: rgba($pink,0.8);
			opacity: 0;

			transition: all .2s;
			transform: translate(-50%, -50%);

			@media #{$medium-up} {
				content: none;
			}
		}

		ul {
			width: 100%;
		}
		li {
			width: 100%;
			padding: 1rem 0;

			@media #{$medium-up} {

				padding: $nav-padding;
				padding-right: 2rem;

				border-bottom: dotted 1px $pink;

				transition: background-color .2s;

				&:last-child {
					border-bottom: 0;
				}
				&:hover {
					background-color: lighten($pink, 30%);
				}
			}

		}
		a {
			font-family: 'Raleway', sans-serif;
			font-size: 1.3rem;
			font-weight: 300;
			text-transform: uppercase;

			color : $white;

			transition: color .2s;

			&:hover {
				color: lighten($pink, 25%);
			}

			@media #{$medium-up} {
				font-size: .8rem;

				color : $pink;

				&:hover {
					color: darken($pink, 10%)
				}
			}
		}

	}

	//---------------------------------------------------------
	//			Social Icons section in nav
	//---------------------------------------------------------
	.social-icons {
		display: inline-block;
		padding: 0;

		background-color: $pink;

		@media #{$medium-up} {
			display: block;
			padding: 0 1.5rem;
		}

		ul {
			list-style: none;
		}

		li {
			font-size: 1.5rem;
			display: inline-block;
		}

		a {
			color: $white;

			transition: color .2s;

			&:hover {
				color: lighten($pink, 25%);
			}
		}
	}

	//---------------------------------------------------------
	//			Mobile menu when active section in nav
	//---------------------------------------------------------
	&.active {

		.mobile-menu {
			z-index: 6;
		}

		.links {
			display: block;
			visibility: visible;
			opacity: 1;

			&:after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}

