//=========================================================
//
//		 Variables Stylesheet
//
//=========================================================
//	Style guide (try to follow)
//	1. Positioning
//	2. Display & Box Model
//	3. Typo
//	4. Visual
//	5. Other
//=========================================================

// Colors

$white: #fafafa;
$pink: #F05A65;
$green: #61A187;
$blue: #7B98A8;
$yellow: #E8BB7A;
$black: #383641;

// Absttracted colors

$primary-color: $black;
$header-color: $pink;
