description = "Default layout"
==
<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
	<meta charset="utf-8">
	<title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="title" content="{{ this.page.meta_title }}">
	<meta name="author" content="Wizioo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
	{% styles %}
	<link href="{{ [
	'assets/bowercomponents/vegas/dist/vegas.min.css',
	'assets/bowercomponents/font-awesome/css/font-awesome.min.css',
	'assets/css/style.css'
	]|theme }}" rel="stylesheet">
<!-- 	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'> -->
	<script src="{{ [
	'assets/bowercomponents/modernizr/modernizr.js'
	]|theme }}"></script>
</head>
<body>

	<!-- Header -->
	<header id="layout-header">

		<!-- Nav -->
		<nav class="main-menu">
			<section class="mobile-menu">
				<i class="fa fa-bars"></i>
			</section>
			<section class="title">
				<h1>APAPA</h1>
			</section>
			<section class="links">
				<ul>
					<li><a href="/triafond">Triafond</a></li>
					<li><a href="/association">L'association</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</section>
			<section class="social-icons">
				<ul>
					<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fa fa-rss-square"></i></a></li>
				</ul>
			</section>
		</nav>


	</header>

	<!-- Content -->
	<section class="content-wrapper">

		<div class="row">
			<div id="content" class="large-12 columns">
				<div>

			{% page %}

				</div>
			</div>
		</div>
	</section>
	<section id="layout-content">

	</section>

	<!-- Footer -->
	<footer id="layout-footer">

	{% partial "footer" %}

	</footer>

	<!-- Scripts -->
	<script src="{{ [
	'assets/bowercomponents/jquery/dist/jquery.min.js',
	'assets/bowercomponents/vegas/dist/vegas.min.js',
	'assets/javascript/app.js'
	]|theme }}"></script>
	<script>
		$( document ).ready(function() {
			$("body").vegas({
				overlay: true,
				slides: [
				{ src: "http://placekitten.com/g/600/300" },
				{ src: "http://placekitten.com/g/600/301" },
				{ src: "http://placekitten.com/g/600/302" }
				]
			});
		});
	</script>
	{% framework extras %}
	{% scripts %}

</body>
</html>